<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>BANER ICO Panel - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

{% if app.user.wavesAddress is null %}

    <!-- Alert Waves -->
    <div class="alert-waves">
        <div class="container">
            <div class="waves-address-wrap">

                <form class="waves-form">
                    <label class="waves-desc" for="attach_address_address">{{ 'alert_waves.title'| trans }}</label>
                    <input class="input waves-input"
                           type="text"
                           id="attach_address_address"
                           name="attach_address[address]"
                           placeholder="{{ 'alert_waves.placeholder'| trans }}"
                           autocomplete="off">

                    <input type="hidden"
                           name="attach_address[_token]"
                           value="{{ csrf_token("attach_address") }}">

                    <button type="submit" class="btn waves-btn">{{ 'alert_waves.btn'| trans }}</button>
                </form>
                <div class="waves-tip">{{ 'alert_waves.error'| trans }}</div>
            </div>

            <div class="waves-about">
                <a class="open-popup" href="" data-name="waves">{{ 'alert_waves.btn_popup'| trans }}</a>
            </div>
        </div>
    </div>

    <!-- Waves-overlay -->
    <div class="overlay waves-overlay"></div>

{% endif %}


<!-- Header-->
<header class="main-header">
    <div class="container"><img class="logo" src="/img/logo.svg">
        <div class="inner-action">
            <!-- lang-->
            <div class="dropdown-block dropdown-lang">
                <a class="select-lang" data-toggle="dropdown" href="">
                    {{ (app.request.locale == "en") ? 'English' : 'Russian' }}
                </a>
                <ul class="dropdown-menu dropdown-menu-lang" data-toggle="dropdown-menu">
                    <li class="drop-item"><a href="?_locale=ru">Russian</a></li>
                    <li class="drop-item"><a href="?_locale=en">English</a></li>
                </ul>
            </div>
            <!-- login-->
            <div class="dropdown-block dropdown-user">
                <a class="username" data-toggle="dropdown" href="">{{app.user.username}}</a>
                <ul class="dropdown-menu dropdown-menu-user" data-toggle="dropdown-menu">
                    <li class="drop-item">
                        <a href="{{ path('app_usersettings_index') }}">{{ 'header.settings'| trans }}</a>
                    </li>
                    <li class="drop-item">
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'header.exit'| trans }}</a>
                    </li>
                </ul>
            </div>
            <!-- waves-->
            <div class="waves-view">
                <div class="title">{{ 'header.address'| trans }}
                    <div class="tooltip tooltip-waves-header">
                        <div class="tooltip-call white"></div>
                        <div class="tooltip-content">{{ 'tooltip.waves'| trans }} <a href="https://waveswallet.io/" target="_blank" class="link">https://waveswallet.io/</a>.
                        </div>
                    </div>
                </div>

                <div class="address">
                    {% if app.user.wallet %}
                        {{ app.user.wallet.address }}
                    {% else %}
                        aдрес Waves
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main-->
<section class="main-content">
    <div class="container">
        <!-- Left aside-->
        <aside class="aside-left">
            <div class="panel-mini total-balance">
                <div class="title">{{ 'aside_left.balance'| trans }}:</div>
                <div class="num-balance"><span>{{ (investments_management.getBalance(app.user)) ? investments_management.getBalance(app.user) : '0' }}</span> BNR</div>
            </div>
            <!-- Navigation-->
            <nav class="main-nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard_homepage') }}">
                            {{ 'nav.dashboard'| trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_transactionhistory_index') }}">
                            {{ 'nav.history'| trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_useraddress_index') }}">
                            {{ 'nav.address'| trans }}
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        {% block content %}
        {% endblock %}
    </div>
</section>

{% block popup %}

    <!-- Popup waves-->
    <div class="overlay popup-overlay">
        <div class="popup popup-waves" data-name="waves"><i class="popup-close"></i>
            <h2 class="pp-title">{{ 'pp-waves.title'| trans }}</h2>
            <h3 class="pp-desc pp-desc-invest">{{ 'pp-waves.title_waves'| trans }}</h3>
            <ul class="pp-manual-list">

                <!-- Line-->
                <li class="pp-manual-item">
                    <span>{{ 'pp-waves.oneitem'| trans }}</span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-waves.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-waves.oneitem_att_desc'| trans }}</p>
                    </div>
                </li>

                <!-- Line-->
                <li class="pp-manual-item">
                    <span><b>1.</b> {{ 'pp-waves.twoitem'| trans }}
                        <a href="https://waveswallet.io/" class="pp-link" target="_blank">https://waveswallet.io/</a>
                    </span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-waves.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-waves.twoitem_att_desc'| trans }}</p>
                    </div>

                    <img class="pp-img" src="/img/screen/sc-waves1.png">
                </li>

                <!-- Line-->
                <li class="pp-manual-item">
                    <span><b>2.</b> {{ 'pp-waves.threeitem'| trans }} <b>{{ 'pp-waves.threeitem_b'| trans }}</b></span>
                    <img class="pp-img" src="/img/screen/sc-waves2.png">
                </li>

                <!-- Line-->
                <li class="pp-manual-item">
                    <span><b>3.</b> {{ 'pp-waves.fouritem'| trans }} <b>{{ 'pp-waves.fouritem_b'| trans }}</b>.</span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-waves.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-waves.fouritem_att_desc'| trans }}</p>
                    </div>

                    <img class="pp-img" src="/img/screen/sc-waves3.png">
                </li>

                <!-- Line-->
                <li class="pp-manual-item">
                    <span><b>4.</b> {{ 'pp-waves.fiveitem'| trans }}</span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-waves.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-waves.fiveitem_att_desc'| trans }}</p>
                    </div>

                    <img class="pp-img" src="/img/screen/sc-waves4.png">
                </li>

                <!-- Line-->
                <li class="pp-manual-item">
                    <span><b>5.</b> {{ 'pp-waves.sixitem_start'| trans }} <b>{{ 'pp-waves.sixitem_b'| trans }}</b> {{ 'pp-waves.sixitem'| trans }}</span>

                    <img class="pp-img" src="/img/screen/sc-waves5.png">
                </li>

                <!-- Line-->
                <li class="pp-manual-item">
                    <span><b>6.</b>. {{ 'pp-waves.sevenitem'| trans }}</span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-waves.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-waves.sevenitem_pass_st'| trans }} 
                            <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%BB%D0%BD%D1%8B%D0%B9_%D0%BF%D0%B5%D1%80%D0%B5%D0%B1%D0%BE%D1%80" class="pp-link" target="_blank">{{ 'pp-waves.sevenitem_term'| trans }}</a>. {{ 'pp-waves.sevenitem_pass_end'| trans }}
                        </p>
                    </div>

                    <img class="pp-img" src="/img/screen/sc-waves6.png">
                </li>

                <!-- Line-->
                <li class="pp-manual-item">
                    <span><b>7.</b> {{ 'pp-waves.eightitem'| trans }} <b>{{ 'pp-waves.eightitem_b'| trans }}</b>.</span>
                    <img class="pp-img" src="/img/screen/sc-waves7.png">
                </li>

                <!-- Line-->
                <li class="pp-manual-item">
                    <span><b>8.</b> {{ 'pp-waves.nineitem'| trans }}</span>
                    <img class="pp-img" src="/img/screen/sc-waves8.png">
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block script %}
    <!-- Scripts -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/wave-auth.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/popup.js"></script>
{% endblock %}
</body>
</html>