{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
    <!-- Register panel-->
    <section class="panel panel-form">
        <h2 class="panel-title">{{ 'layout.login'| trans }}
            <div class="dropdown-block dropdown-lang">
                <a class="select-lang" data-toggle="dropdown" href="">
                    {{ (app.request.locale == "en") ? 'English' : 'Russian' }}
                </a>
                <ul class="dropdown-menu dropdown-menu-lang" data-toggle="dropdown-menu">
                    <li class="drop-item"><a href="?_locale=ru">Russian</a></li>
                    <li class="drop-item"><a href="?_locale=en">English</a></li>
                </ul>
            </div>
        </h2>
        <div class="panel-body panel-form-body">

            {% if error %}
                <div class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="form-line">
                    <label class="label" for="email">{{ 'layout.email'| trans }}</label>
                    <input class="input" type="email" name="_username" id="email" placeholder="{{ 'layout.email'| trans }}" value="" required>
                </div>
                <div class="form-line">
                    <label class="label" for="password">{{ 'layout.password'| trans }}</label>
                    <input class="input" type="password" name="_password" id="password" placeholder="{{ 'layout.password'| trans }}" required>
                </div>
                <button class="btn btn-block btn-form blue" type="submit">{{ 'layout.btn_login'| trans }}</button>
                <a class="btn btn-block btn-form white"
                   href="{{ path('fos_user_registration_register') }}">{{ 'layout.btn_reg'| trans }}</a>
                <a class="link tip-password" href="{{ path('fos_user_resetting_request') }}">{{ 'layout.btn_forget'| trans }}</a>
            </form>
        </div>
    </section>
    <!--  include('@FOSUser/Security/login_content.html.twig')-->
{% endblock fos_user_content %}
