{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
    <!-- Register panel-->
    <section class="panel panel-form">
        <h2 class="panel-title">Вход
            <div class="dropdown-block dropdown-lang"><a class="select-lang" data-toggle="dropdown" href="">Russian</a>
                <ul class="dropdown-menu dropdown-menu-lang" data-toggle="dropdown-menu">
                    <li class="drop-item">Russian</li>
                    <li class="drop-item">English</li>
                    <li class="drop-item">China</li>
                </ul>
            </div>
        </h2>
        <div class="panel-body panel-form-body">

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="form-line">
                    <label class="label" for="email">Email</label>
                    <input class="input" type="email" name="_username" id="email" placeholder="Эл. почта" value="">
                </div>
                <div class="form-line">
                    <label class="label" for="password">Пароль</label>
                    <input class="input" type="password" name="_password" id="password" placeholder="Пароль">
                </div>
                <button class="btn btn-block btn-form blue" type="submit">Войти</button>
                <a class="btn btn-block btn-form white"
                   href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                <a class="link tip-password" href="{{ path('fos_user_resetting_send_email') }}">Забыли пароль?</a>
            </form>
        </div>
    </section>
    <!--  include('@FOSUser/Security/login_content.html.twig')-->
{% endblock fos_user_content %}
