{% extends ":AppBundle:layout.html.twig" %}

{% block content %}

    <!-- Content-->
    <div class="content-block">

        <!-- Col content-->
        <div class="content content-md">

            <!-- Center content-->
            <div class="content content-center">
                <!-- Invest panel-->
                <section class="panel panel-invest">
                    <h2 class="panel-title">{{ 'panel_invest.title'| trans }}</h2>
                    <div class="panel-body">
                        <div class="invest-action">
                            <!-- Zeroline-->
                            <div class="invest-line">
                                <div class="col-desc">{{ 'panel_invest.address'| trans }}
                                    <div class="tooltip tooltip-waves">
                                        <div class="tooltip-call gray"></div>
                                        <div class="tooltip-content">{{ 'tooltip.waves'| trans }} <a href="https://waveswallet.io/" target="_blank" class="link">https://waveswallet.io/</a>.</div>
                                    </div>
                                </div>
                                <div class="col-action">
                                    <div class="waves-views">
                                        {% if app.user.wallet %}
                                           {{ app.user.wallet.address }}
                                        {% else %}
                                            aдрес wawes
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <!-- Oneline-->
                            <div class="invest-line indent">
                                <div class="col-desc">{{ 'panel_invest.currency'| trans }}</div>
                                <div class="col-action">
                                    <div class="dropdown-block">
                                        <div class="invest-field select-currency" data-toggle="dropdown">
                                            <div class="currency">USD</div><span class="arrow"></span>
                                        </div>
                                        <ul class="dropdown-menu drop-menu-currency" data-toggle="dropdown-menu">
                                            <li class="drop-item curr-item">USD</li>
                                            <li class="drop-item curr-item">EURO</li>
                                            <li class="drop-item curr-item">BTC</li>
                                            <li class="drop-item curr-item">WAVES</li>
                                            <li class="drop-item curr-item">ETH</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Twoline-->
                            <div class="invest-line indent">
                                <div class="col-desc">{{ 'panel_invest.amount'| trans }}</div>
                                <div class="col-action">
                                    <div class="input-amount-wrap">
                                        <input class="invest-field input-amount" type="text" value="0" placeholder="{{ 'panel_invest.amount'| trans }}" pattern="[0-9]*">
                                        <div class="action-amount">
                                            <span class="plus">+</span>
                                            <span class="minus">-</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Threeline-->
                            <div class="invest-line indent">
                                <div class="col-desc"></div>
                                <div class="col-action">
                                    <button class="btn btn-block blue open-popup" data-name="invest">
                                        {{ 'panel_invest.btn'| trans }}
                                    </button>
                                </div>
                            </div>

                            <!-- Fourline-->
                            <div class="invest-line">
                                <div class="col-desc"></div>
                                <div class="col-action">
                                    <!-- Result-->
                                    <div class="invest-result">
                                        <ul class="result-list">
                                            <li class="result-item result">
                                                {{ 'panel_invest.result_amount'| trans }} (BNR):
                                                <span>0</span>
                                            </li>
                                            <li class="result-item bonus">
                                                {{ 'panel_invest.result_bonus'| trans }} (%):
                                                <span>0</span>
                                            </li>
                                            <li class="result-item total-result">
                                                {{ 'panel_invest.result_get'| trans }} (BNR):
                                                <span>0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Right aside-->
            <aside class="aside-right">
                <div class="panel-mini statistics">
                    <div class="line">{{ 'aside_right.day'| trans }}:
                        <span class="left-day">{{ investments_management.getDaysBeforeEnd }}</span>
                        <!-- <span class="left-day">25</span> -->
                    </div>
                    <div class="line">{{ 'aside_right.bonus'| trans }}:<span>{{ investments_management.getBonus }}%</span>
                        <div class="tooltip tooltip-bonus">
                            <div class="tooltip-call black"></div>
                            <div class="tooltip-content">{{ 'tooltip.bonus'| trans }}: 
                                <br>{{ 'tooltip.bonus_counting'| trans }}
                            </div>
                        </div>
                    </div>
                </div>
                <section class="panel panel-status">
                    <div class="panel-title">{{ 'aside_right.status'| trans }}</div>
                    <div class="panel-body status-body">
                        <div class="invested-all">
                            <div class="title">{{ 'aside_right.invested'| trans }}</div>
                            <ul class="currency-list">
                                <li class="currency-item bnr"><span>{{ invested_btc }}</span> BTC</li>
                                <li class="currency-item usd"><span>{{ invested_usd }}</span> USD</li>
                            </ul>
                        </div>
                        <div class="members">
                            <div class="title">{{ 'aside_right.members'| trans }}</div><span class="count">{{ userCount }}</span>
                        </div>
                    </div>
                </section>
            </aside>
        </div>

        <!-- Col content-->
        <div class="content content-md">

            <!-- Invested panel-->
            <section class="panel panel-invested">
                <h2 class="panel-title">{{ 'panel_invested.title'| trans }}</h2>
                <div class="panel-body">
                    <ul class="currency-list">

                        {% for key, invest in invested %}
                            <li class="currency-item {{ invest.code|lower }}">
                                <i class="icon"></i>
                                <div class="amount">{{ invest.amount }}</div>
                                <div class="currency">{{ invest.code }}</div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </section>

            <!-- Bonus panel-->
            <section class="panel panel-bonus">
                <h2 class="panel-title">{{ 'panel_bonus.title'| trans }}</h2>

                <div class="panel-body">
                    <div class="bonus-item">
                        <div class="percent">25%</div>
                        <div class="empty-scale">
                            <div class="part-scale" data-day="2"></div>
                        </div>
                        <div class="time">{{ 'panel_bonus.day'| trans }} 1-2</div>
                    </div>
                    <div class="bonus-item">
                        <div class="percent">20%</div>
                        <div class="empty-scale">
                            <div class="part-scale" data-day="3"></div>
                        </div>
                        <div class="time">{{ 'panel_bonus.day'| trans }} 3-5</div>
                    </div>
                    <div class="bonus-item">
                        <div class="percent">15%</div>
                        <div class="empty-scale">
                            <div class="part-scale" data-day="3"></div>
                        </div>
                        <div class="time">{{ 'panel_bonus.day'| trans }} 6-8</div>
                    </div>
                    <div class="bonus-item">
                        <div class="percent">10%</div>
                        <div class="empty-scale">
                            <div class="part-scale" data-day="4"></div>
                        </div>
                        <div class="time">{{ 'panel_bonus.day'| trans }} 9-12</div>
                    </div>
                    <div class="bonus-item">
                        <div class="percent">5%</div>
                        <div class="empty-scale">
                            <div class="part-scale" data-day="5"></div>
                        </div>
                        <div class="time">{{ 'panel_bonus.day'| trans }} 13-17</div>
                    </div>
                    <div class="bonus-item">
                        <div class="percent">0%</div>
                        <div class="empty-scale">
                            <div class="part-scale" data-day="8"></div>
                        </div>
                        <div class="time">{{ 'panel_bonus.day'| trans }} 18-25</div>
                    </div>
                </div>
            </section>

            <!-- Course panel-->
            <section class="panel panel-course">
                <h2 class="panel-title">{{ 'panel_course.title'| trans }}</h2>
                <div class="panel-body">
                    <div class="course-tip">BNR {{ 'panel_course.price'| trans }}</div>
                    <div class="panel-course-wrap">

                        <ul class="course-list">
                            {% for key, value in rates %}
                                <li class="course-item {{key|lower}}">
                                    <span class="icon"></span>
                                    <span class="currency">{{key}}</span>
                                    <span class="amount">{{value| number_format(4)}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>

        <!-- Col content-->
        <div class="content content-md">
            <!-- Footer-->
            <footer class="main-footer">
                <p class="copyright">{{ 'footer.copyright'| trans }}</p>
                <p class="feedback">{{ 'footer.feedback'| trans }}</p>
            </footer>
        </div>
    </div>

    <!-- Overlay waves-->
    <!-- <div class="overlay waves-overlay"></div> -->

{% endblock content %}


{% block popup %}
    {{ parent() }}

    <!-- Popup invest-->
    <div class="overlay popup-overlay">
        <div class="popup popup-invest" data-name="invest"><i class="popup-close"></i>
            <h2 class="pp-title">{{ 'pp-invest.title'| trans }}</h2>
            <h3 class="pp-desc pp-desc-invest">{{ 'pp-invest.title_invest'| trans }}</h3>
            <ul class="pp-manual-list">

                <!-- Line -->
                <li class="pp-manual-item">
                    <span>{{ 'pp-invest.oneitem'| trans }}</span>
                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.oneitem_att_desc'| trans }}</p>
                    </div>
                </li>

                <!-- Line -->
                <li class="pp-manual-item">
                    <span><b>1.</b> {{ 'pp-invest.twoitem_1'| trans }}</span><span>{{ 'pp-invest.twoitem_2_1'| trans }} <b>{{ 'pp-invest.deposit'| trans }}</b>, {{ 'pp-invest.twoitem_2_2'| trans }} <b>{{ 'pp-invest.deposit'| trans }}</b> {{ 'pp-invest.twoitem_2_3'| trans }}</span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.twoitem_att_desc'| trans }}</p>
                    </div>

                    <img class="pp-img" src="/img/screen/sc-invest1.png">
                </li>

                <!-- Line -->
                <li class="pp-manual-item">
                    <span><b>2.</b> {{ 'pp-invest.threeitem_1'| trans }} <b>{{ 'pp-invest.send'| trans }}</b>. {{ 'pp-invest.threeitem_2'| trans }} <b>{{ 'pp-invest.bnr'| trans }}</b> {{ 'pp-invest.threeitem_2_1'| trans }}</span>

                    <img class="pp-img" src="/img/screen/sc-invest2.png">
                </li>

                <!-- Line -->
                <li class="pp-manual-item">
                    <span><b>3.</b> {{ 'pp-invest.fouritem_1'| trans }} <b>{{ 'pp-invest.send'| trans }}</b> {{ 'pp-invest.fouritem_1_1'| trans }} <b>{{ 'pp-invest.bnr'| trans }}</b> {{ 'pp-invest.fouritem_1_2'| trans }} <b>{{ 'pp-invest.fouritem_1_3'| trans }}</b>.<br>{{ 'pp-invest.fouritem_1_4'| trans }}</span>

                    <img class="pp-img" src="/img/screen/sc-invest4.png">

                    <span><b>{{ 'pp-invest.fouritem_2'| trans }}</b> — {{ 'pp-invest.fouritem_2_1'| trans }}<br>{{ 'pp-invest.fouritem_2_2'| trans }} <i class="red">{{ 'pp-invest.fouritem_2_3'| trans }}</i></span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.fouritem_att_desc'| trans }}
                            <br><a href="https://ico-panel.baner.su/dashboard/" class="pp-link" target="_blank">https://ico-panel.baner.su/dashboard/</a></p>
                    </div>

                    <span>{{ 'pp-invest.fouritem_3'| trans }}</span>

                    <span><b>{{ 'pp-invest.fouritem_4_title'| trans }}</b> — {{ 'pp-invest.fouritem_4_desc'| trans }}</span>

                    <span><b>{{ 'pp-invest.fouritem_5_title'| trans }}</b> — {{ 'pp-invest.fouritem_5_desc'| trans }}</span>

                    <span><b>{{ 'pp-invest.fouritem_6_title'| trans }}</b> — {{ 'pp-invest.fouritem_6_desc'| trans }}</span>

                    <span>{{ 'pp-invest.fouritem_7'| trans }}</span>

                    <img class="pp-img" src="/img/screen/sc-invest5.png">

                    <span>{{ 'pp-invest.fouritem_8'| trans }} <b>{{ 'pp-invest.submit'| trans }}</b>. {{ 'pp-invest.fouritem_8_1'| trans }} <a href="https://ico-panel.baner.su/login" class="pp-link" target="_blank">https://ico-panel.baner.su/login</a> {{ 'pp-invest.fouritem_8_2'| trans }} <b>({{ 'pp-invest.fee'| trans }})</b>.</span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.fouritem_att_desc_1'| trans }}</p>
                    </div>

                    <span>{{ 'pp-invest.fouritem_9'| trans }}</span>

                    <span>{{ 'pp-invest.fouritem_slack'| trans }}
                        <br>
                        <a class="pp-link" href="https://banercommunity.slack.com/join/shared_invite/MjMwNzQzODIzNjAxLTE1MDM1OTAyOTQtZThhYjNhOTVlNg" target="_blank">https://banercommunity.slack.com/</a>
                    </span>
                    <span>{{ 'pp-invest.fouritem_tgr'| trans }}
                        <br>
                        <a class="pp-link" href="https://t.me/BanerCommunityENG" target="_blank">https://t.me/BanerCommunityENG</a>
                    </span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.fouritem_att_desc_2'| trans }}</p>
                    </div>

                    <span>
                        {{ 'pp-invest.info_salck'| trans }} <i class="red">@baner_community</i>
                        <br>
                        {{ 'pp-invest.info_tgr'| trans }} <i class="red">@stavanger</i>
                    </span>

                    <br>

                    <span class="red">{{ 'pp-invest.footer'| trans }}</span>
                </li>

            </ul>
        </div>
    </div>

{% endblock popup %}


{% block script %}
    {{ parent() }}

    <script src="/js/calculator.js"></script>
{% endblock script %}