{% extends ":AppBundle:layout.html.twig" %}

{% block title %}AppBundle:UserSettings:index{% endblock %}

{% block content %}
    <!-- Content-->
    <div class="content-block">

        <!-- Coll content-->
        <div class="content content-center">
            <section class="panel panel-settings">
                <h2 class="panel-title">{{ 'panel-settings.title'| trans }}</h2>
                <div class="panel-body settings-body">

                    <div class="set-line setline-pass">
                        <div class="set-name">{{ 'panel-settings.password'| trans }}</div>
                        <div class="set-value">
                            <a class="btn blue link-edit" href="">{{ 'panel-settings.btn-change'| trans }}</a>
                        </div>
                    </div>

                    <div class="set-line setline-edit-pass">
                        <div class="new-pass-list">
                            <div class="passline">
                                <div class="set-name">{{ 'panel-settings.old_pass'| trans }}</div>
                                <input class="input set-input" type="text">
                                <a class="link link-cancel" href="">{{ 'panel-settings.btn_cancel'| trans }}</a>
                            </div>
                            <div class="passline">
                                <div class="set-name">{{ 'panel-settings.new_pass'| trans }}</div>
                                <input class="input set-input" type="text">
                            </div>
                            <div class="passline">
                                <div class="set-name">{{ 'panel-settings.repeat_pass'| trans }}</div>
                                <input class="input set-input" type="text">
                            </div>
                            <div class="passline">
                                <div class="set-name"></div><a class="btn blue btn-edit" href="">{{ 'panel-settings.btn_change_pass'| trans }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="set-line">
                        <div class="set-name">{{ 'panel-settings.email'| trans }}</div>
                        <div class="set-value">{{app.user.email}}</div>
                    </div>
                    <div class="set-line">
                        <div class="set-name">{{ 'panel-settings.phone'| trans }}</div>
                        <div class="set-value">+7 (812) 111 22 33</div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Coll content-->
        <div class="content content-md">
            <!-- Footer-->
            <footer class="main-footer">
                <p class="copyright">{{ 'footer.copyright'| trans }}</p>
                <p class="feedback">{{ 'footer.feedback'| trans }}</p>
            </footer>
        </div>

    </div>
{% endblock %}
