{% extends ":AppBundle:layout.html.twig" %}

{% block title %}AppBundle:TransactionHistory:index{% endblock %}

{% block content %}
    <!-- Сontent-->
    <div class="content-block">

        <!-- Col content-->
        <div class="content content-md">
            <div class="content content-center">
                <section class="panel panel-address">
                    <h2 class="panel-title">{{ 'panel-address.title'| trans }}</h2>
                    <div class="panel-body address-body">
                        <div class="tip-title">{{ 'panel-address.address-wallet'| trans }}</div>
                        <p class="warrning-msg">{{ 'panel-address.desc'| trans }}</p>

                        <div class="waves-action">
                            <div class="waves-address">{{ app.user.wavesAddress }}</div>
                            <div class="waves-address-form">
                                <form>
                                    <input class="input waves-input"
                                           type="text"
                                           name="attach_address[address]"
                                           placeholder="Введите адрес Waves"
                                           value="{{ app.user.wavesAddress }}">

                                    <input type="hidden"
                                           name="attach_address[_token]"
                                           value="{{ csrf_token("attach_address") }}">
                                </form>
                            </div>
                        </div>

                        <button class="btn btn-edit white">{{ 'panel-address.btn_edit'| trans }}</button>
                        <button class="btn btn-done white">{{ 'panel-address.btn_done'| trans }}</button>
                    </div>
                </section>
            </div>

            <!-- Right aside-->
            <aside class="aside-right">
                <div class="panel-mini statistics">
                    <div class="line">{{ 'aside_right.day'| trans }}:<span>25</span></div>
                    <div class="line">{{ 'aside_right.bonus'| trans }}:<span>25%</span>
                        <div class="tooltip tooltip-bonus">
                            <div class="tooltip-call black"></div>
                            <div class="tooltip-content">{{ 'tooltip.bonus'| trans }}: 
                                <br>{{ 'tooltip.bonus_counting'| trans }}
                            </div>
                        </div>
                    </div>
                </div>
                <section class="panel panel-status">
                    <div class="panel-title">{{ 'aside_right.status'| trans }}</div>
                    <div class="panel-body status-body">
                        <div class="invested-all">
                            <div class="title">{{ 'aside_right.invested'| trans }}</div>
                            <ul class="currency-list">
                                <li class="currency-item bnr">0 BTC</li>
                                <li class="currency-item usd">0 USD</li>
                            </ul>
                        </div>
                        <div class="members">
                            <div class="title">{{ 'aside_right.members'| trans }}</div><span class="count">0</span>
                        </div>
                    </div>
                </section>
            </aside>
        </div>

        <!-- Col content-->
        <div class="content content-md">
            <!-- Footer-->
            <footer class="main-footer">
                <p class="copyright">{{ 'footer.copyright'| trans }}</p>
                <p class="feedback">{{ 'footer.feedback'| trans }}</p>
            </footer>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}

    <script src="/js/popup.js"></script>
{% endblock script %}
