{% extends ":AppBundle:layout.html.twig" %}

{% block title %}AppBundle:TransactionHistory:index{% endblock %}

{% block content %}
    <!-- Content-->
    <div class="content-block">

        {% if transactions|length %}

             <!-- Col content-->
            <div class="content content-lg">
                <section class="panel panel-history">
                    <h2 class="panel-title">{{ 'panel-history.title'| trans }}</h2>
                    <div class="panel-body history-table">
                        <div class="history-row history-row-head">
                            <div class="history-cell">{{ 'panel-history.table_date'| trans }}</div>
                            <div class="history-cell">{{ 'panel-history.table_desc'| trans }}</div>
                            <!-- <div class="history-cell">{{ 'panel-history.table_status'| trans }}</div> -->
                            <div class="history-cell">{{ 'panel-history.table_amount'| trans }}</div>
                        </div>

                        {% for key, transaction in transactions %}
                            <div class="history-row">
                                <div class="history-cell cell-date">{{ transaction.createdAt.date|date("m/d/Y") }}</div>
                                <div class="history-cell cell-desc">{{ transaction.info }}</div>
                                <!-- <div class="history-cell cell-status expired"></div> -->
                                <div class="history-cell cell-amount">{{ transaction.amount }}</div>
                            </div>
                        {% endfor %}

                        <!-- <div class="history-row">
                            <div class="history-cell cell-date">12 Jun 16:52</div>
                            <div class="history-cell cell-desc">Converting 0.000000 BTC to 2.438626 PLBT</div>
                            <div class="history-cell cell-status recelved">Recelved</div>
                            <div class="history-cell cell-amount">+2.43862624386268626 PL…</div>
                        </div>
                        <div class="history-row">
                            <div class="history-cell cell-date">12 Jun 16:52</div>
                            <div class="history-cell cell-desc">Converting 0.000000 BTC to 2.438626 PLBTConverting 0.000000 BTC</div>
                            <div class="history-cell cell-status expired">Expired</div>
                            <div class="history-cell cell-amount">+1.15 PLBT</div>
                        </div>
                        <div class="history-row">
                            <div class="history-cell cell-date">12 Jun 16:52</div>
                            <div class="history-cell cell-desc">Converting 0.000000 BTC to 2.438626 PLBT</div>
                            <div class="history-cell cell-status copleted">Copleted</div>
                            <div class="history-cell cell-amount">+1.15 PLBT</div>
                        </div> -->
                    </div>
                </section>
            </div>

        {% else %}

            <!-- Col content-->
            <div class="content content-lg">
                <section class="panel panel-history">
                    <h2 class="panel-title">{{ 'panel-history.title'| trans }}</h2>
                    <div class="panel-body history-start">
                        <div class="desc">{{ 'panel-history.empty_desc_start'| trans }}
                            <br>{{ 'panel-history.empty_desc_end'| trans }}</div>
                        <button class="btn blue open-popup" data-name="invest">{{ 'panel-history.btn'| trans }}</button>
                    </div>
                </section>
            </div>

        {% endif %}

        <!-- Col content-->
        <div class="content content-lg">
            <!-- Footer-->
            <footer class="main-footer">
                <p class="copyright">{{ 'footer.copyright'| trans }}</p>
                <p class="feedback">{{ 'footer.feedback'| trans }}</p>
            </footer>
        </div>
    </div>

{% endblock %}

{% block popup %}
    {{ parent() }}

    <!-- Popup invest-->
    <div class="overlay popup-overlay">
        <div class="popup popup-invest" data-name="invest"><i class="popup-close"></i>
            <h2 class="pp-title">{{ 'pp-invest.title'| trans }}</h2>
            <h3 class="pp-desc pp-desc-invest">{{ 'pp-invest.title_invest'| trans }}</h3>
            <ul class="pp-manual-list">

                <!-- Line -->
                <li class="pp-manual-item">
                    <span>{{ 'pp-invest.oneitem'| trans }}</span>
                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.oneitem_att_desc'| trans }}</p>
                    </div>
                </li>

                <!-- Line -->
                <li class="pp-manual-item">
                    <span><b>1.</b> {{ 'pp-invest.twoitem_1'| trans }}</span><span>{{ 'pp-invest.twoitem_2_1'| trans }} <b>{{ 'pp-invest.deposit'| trans }}</b>, {{ 'pp-invest.twoitem_2_2'| trans }} <b>{{ 'pp-invest.deposit'| trans }}</b> {{ 'pp-invest.twoitem_2_3'| trans }}</span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.twoitem_att_desc'| trans }}</p>
                    </div>

                    <img class="pp-img" src="/img/screen/sc-invest1.png">
                </li>

                <!-- Line -->
                <li class="pp-manual-item">
                    <span><b>2.</b> {{ 'pp-invest.threeitem_1'| trans }} <b>{{ 'pp-invest.send'| trans }}</b>. {{ 'pp-invest.threeitem_2'| trans }} <b>{{ 'pp-invest.bnr'| trans }}</b> {{ 'pp-invest.threeitem_2_1'| trans }}</span>

                    <img class="pp-img" src="/img/screen/sc-invest2.png">
                </li>

                <!-- Line -->
                <li class="pp-manual-item">
                    <span><b>3.</b> {{ 'pp-invest.fouritem_1'| trans }} <b>{{ 'pp-invest.send'| trans }}</b> {{ 'pp-invest.fouritem_1_1'| trans }} <b>{{ 'pp-invest.bnr'| trans }}</b> {{ 'pp-invest.fouritem_1_2'| trans }} <b>{{ 'pp-invest.fouritem_1_3'| trans }}</b>.<br>{{ 'pp-invest.fouritem_1_4'| trans }}</span>

                    <img class="pp-img" src="/img/screen/sc-invest4.png">

                    <span><b>{{ 'pp-invest.fouritem_2'| trans }}</b> — {{ 'pp-invest.fouritem_2_1'| trans }}<br>{{ 'pp-invest.fouritem_2_2'| trans }} <i class="red">{{ 'pp-invest.fouritem_2_3'| trans }}</i></span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.fouritem_att_desc'| trans }}
                            <br><a href="https://ico-panel.baner.su/dashboard/" class="pp-link" target="_blank">https://ico-panel.baner.su/dashboard/</a></p>
                    </div>

                    <span>{{ 'pp-invest.fouritem_3'| trans }}</span>

                    <span><b>{{ 'pp-invest.fouritem_4_title'| trans }}</b> — {{ 'pp-invest.fouritem_4_desc'| trans }}</span>

                    <span><b>{{ 'pp-invest.fouritem_5_title'| trans }}</b> — {{ 'pp-invest.fouritem_5_desc'| trans }}</span>

                    <span><b>{{ 'pp-invest.fouritem_6_title'| trans }}</b> — {{ 'pp-invest.fouritem_6_desc'| trans }}</span>

                    <span>{{ 'pp-invest.fouritem_7'| trans }}</span>

                    <img class="pp-img" src="/img/screen/sc-invest5.png">

                    <span>{{ 'pp-invest.fouritem_8'| trans }} <b>{{ 'pp-invest.submit'| trans }}</b>. {{ 'pp-invest.fouritem_8_1'| trans }} <a href="https://ico-panel.baner.su/login" class="pp-link" target="_blank">https://ico-panel.baner.su/login</a> {{ 'pp-invest.fouritem_8_2'| trans }} <b>({{ 'pp-invest.fee'| trans }})</b>.</span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.fouritem_att_desc_1'| trans }}</p>
                    </div>

                    <span>{{ 'pp-invest.fouritem_9'| trans }}</span>

                    <span>{{ 'pp-invest.fouritem_slack'| trans }}
                        <br>
                        <a class="pp-link" href="https://banercommunity.slack.com/join/shared_invite/MjMwNzQzODIzNjAxLTE1MDM1OTAyOTQtZThhYjNhOTVlNg" target="_blank">https://banercommunity.slack.com/</a>
                    </span>
                    <span>{{ 'pp-invest.fouritem_tgr'| trans }}
                        <br>
                        <a class="pp-link" href="https://t.me/BanerCommunityENG" target="_blank">https://t.me/BanerCommunityENG</a>
                    </span>

                    <div class="pp-warrning">
                        <div class="title">{{ 'pp-invest.attention'| trans }}</div>
                        <p class="desc">{{ 'pp-invest.fouritem_att_desc_2'| trans }}</p>
                    </div>

                    <span>
                        {{ 'pp-invest.info_salck'| trans }} <i class="red">@baner_community</i>
                        <br>
                        {{ 'pp-invest.info_tgr'| trans }} <i class="red">@stavanger</i>
                    </span>

                    <br>

                    <span class="red">{{ 'pp-invest.footer'| trans }}</span>
                </li>

            </ul>
        </div>
    </div>

{% endblock popup %}
